
.buttons-grid{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 100px 100px;
}


.uber{
    background-color: black;
    color: white;
    height:35px;
    width:110px;
    border: none; 
    cursor: pointer;
    margin-bottom: 25px;
    margin-right: 20px;
}
.uber:hover{
    opacity: 0.8;
}

.amazon{
    border:none;
    background-color: rgb(255, 216, 20);
    color: black;
    height:30px;
    width:150px;
    border-radius: 20px;
    font-style: bolder;
    cursor: pointer;
    margin-right: 50px;
    transition: background-color 0.15;
}
.amazon:hover{
    background-color:rgb(240, 201, 5) ;
}


.github{
    border: none;
    background-color: rgb(46, 164,79);
    color: white;
    height: 35px;
    width: 79px;
    border-radius: 7.5px;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
    transition:box-shadow 0.15s;
}
.github:hover{
    box-shadow:0px 1.5px 4px rgba(0,0,0,0.7) ;
}


.bootstrap1{
    border: none;
    background-color: rgb(121, 82, 179);
    color: white;
    height: 35px;
    width: 110px;
    border-radius: 4px;
    font-weight: 550;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.bootstrap1:hover{
    background-color: rgb(100, 62, 159);
}


.bootstrap2{
    background-color: white;
    color: rgb(108, 117, 125);
    height: 35px;
    width: 100px;
    border-radius: 4px;
    border-width: 1.5px;
    border-color:rgb(108, 117, 125) ;
    font-weight: 550;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.15s , color 0.15s;
}
.bootstrap2:hover{
    background-color: rgb(114, 113, 113);
    color: white;
}


.linkedin1{
    border:none;
    background-color: rgb(10, 102, 194);
    color: white;
    height: 32px;
    width: 230px;
    border-radius: 16px;
    font-weight: 550;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.linkedin1:hover{
    background-color:rgb(0, 82, 174) ;
}

.linkedin2{
    background-color: white;
    color:rgb(10, 102, 194) ;
    height: 37px;
    width: 78px;
    border-radius: 18.5px;
    border-width: 0.9px;
    border-color: rgb(10, 102, 194);
    border-right-color: rgb(10, 102, 194);
    font-weight: 550;
    cursor: pointer;
    transition: border-width 0.15s;
    margin-right: 700px;
    margin-top: 20px;
}
.linkedin2:hover{
    border-width: 2.5px;
}
